<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>609553783664-tn9rek2pb4apsl8ndrjr667p6aqn8di8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.609553783664-tn9rek2pb4apsl8ndrjr667p6aqn8di8</string>
	<key>API_KEY</key>
	<string>AIzaSyCf8Oid3JtIVAV-kg0HqZCkOZ1cX6J_bZo</string>
	<key>GCM_SENDER_ID</key>
	<string>609553783664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.task.RecordKeep</string>
	<key>PROJECT_ID</key>
	<string>recordkeep-91864</string>
	<key>STORAGE_BUCKET</key>
	<string>recordkeep-91864.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:609553783664:ios:5d1bf71f3c472272adcdb5</string>
	<key>DATABASE_URL</key>
	<string>https://recordkeep-91864.firebaseio.com</string>
</dict>
</plist>